@import "../../variables.scss";

.footer {
  position: relative;
  bottom: 0;
  z-index: 2;
  margin-top: 50px; //Lagt inn av stian
  width: 100%;
  height: 108px;
  background-color: $light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 12px 12px 12px 15px rgba(12, 12, 24, 0.753);
  background-image: linear-gradient($light-second, $light-second);
}
.logo {
  position: absolute;
  left: 0;

  height: 108px;
  //   width: 75;
}
.left {
  width: 50%;
  //   border: 2px solid red;
  position: relative;
  align-items: center;
  height: 100%;
  padding-left: 15rem;
  background-color: $light;
}

.right {
  display: flex;
  flex-direction: row;
  width: 50%;
  background-color: $light;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: $red;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border: none;
}
#text {
  margin-top: 44px;
}
.space {
  width: 50%;
  //   border: 1px solid blue;
}
.links {
  padding-right: 15%;
  width: 50%;
  display: flex;
  flex-direction: row;
  //   border: 1px solid green;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
#link {
  text-decoration: none;
}
