$red: #ee2a3e;
$red-second: #cf4040;
$red-border: #af4747;
$red-border-hover: #af47478f;
$red-border-second: #3e2b38;
$gold: #ffcc00;
$gold-second: #c8a518;
$bg: #222434;
$bg-second: #31323e;
$bg-third: #191b27;
$light: #e6e6e6;
$light-second: #e9e9e9;
$btn-radius: 15px;
$red-btn: #ee2a3e;
$red-btn-glow: 0 5px 15px rgba(238, 42, 62, 0.685);
$red-btn-hover: #9c1d2a;
$red-btn-active: #c52535;
$yellow-btn: #ffcc00;
$yellow-btn-glow: 0 5px 15px rgba(235, 238, 42, 0.685);
$yellow-btn-hover: #b49415;
$yellow-btn-active: #dbb20e;
$dark-btn-glow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);

$inputheight: 45px;
