@import "src/variables.scss";

.task {
  position: relative;
  .header {
    position: absolute;
    top: -15px;
    left: -41.5px;
    img {
      position: absolute;
      top: -15px;
    }
    .title {
      position: absolute;
      z-index: 2;
      text-transform: uppercase;
      h2 {
        position: absolute;
        top: -11px;
        right: 0;
      }
      h1 {
        margin-top: 10px;
        width: 100%;
        margin-left: 17.5px;
      }
    }
    width: 286px;
    height: 70px;
    margin-left: 20px;
    background-size: 90%;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .taskname {
    max-width: 95%;
    max-height: 35px;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  .taskname::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    .taskinfo {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
    .btncontainer {
      flex: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0.25rem;
      width: 100%;
      div {
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-direction: row;
        margin-top: 0.25rem;
        .btn {
          padding-left: 6.6rem;
          padding-right: 6.6rem;
          border: none;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

          text-align: center;
          margin-top: 0.2rem;
          // border: 2px solid yellow;
          border-radius: $btn-radius;
          padding: 0.25rem;
          margin: 0 0.25rem;
          width: 5rem;
          height: 2rem;
          background-color: $red;
          color: $light;
          text-transform: capitalize;
        }
        #taskbtn {
          width: 100%;
          background-color: $bg-second;
          box-shadow: $dark-btn-glow;
          &:hover {
            background-color: $bg-third;
          }
          &:active {
            background-color: $bg-second;
          }
        }

        &:nth-child(2) {
          width: 100%;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
.btn-one {
  width: 100%;
}
.btn-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid blue;
  width: 100%;
}
.task {
  position: relative;
  padding-top: 70px;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  background-color: $bg;
  border: 5px solid $red-second;
  background-position: center;
  display: flex;
  flex-direction: column;
  //border: 5px solid #af4747;
  border-radius: 15px;
  width: 286px;
  height: 296px;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: column;
  //border: 3px solid green;
  border-radius: 10px;
  width: 100%;
  //background-color: #323442;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: $light;
  text-align: center;
}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: $light;
  font-size: 100%;
}
.taskinfo {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  h2 {
    text-transform: uppercase;
  }
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  text-align: center;
  font-weight: lighter;
  color: $gold-second;
}
#info {
  text-align: center;
}

#tasknr {
  text-transform: uppercase;
  width: 70%;
  text-align: right;
}

.task.finished {
  .finished-stats {
    z-index: 5;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: $light;
    top: 35%;
    h3 {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  .taskcontainer {
    pointer-events: none;
    filter: blur(25px);
  }
}

#txtinfo {
  width: 100%;
  text-align: center;
  color: $light-second;
}

#submitbtn {
  background-color: $red;
  border: none;
  border-radius: $btn-radius;
  padding: 0.4rem;
  padding-left: 6.6rem;
  padding-right: 6.6rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: $light;
  box-shadow: $red-btn-glow;
  &:hover {
    background-color: $red-btn-hover;
  }
  &:active {
    background-color: $red-btn-active;
  }
}

.not-started #submitbtn {
  background-color: $yellow-btn;
  width: 100%;
  box-shadow: $yellow-btn-glow;
  &:hover {
    background-color: $yellow-btn-hover;
  }

  &:active {
    background-color: $yellow-btn-active;
  }
}
