@import "../../../../variables.scss";

main {
  min-height: 1100px;
  z-index: 1;
  position: relative;
}

.searchheader {
  display: flex;
  flex-direction: column;
  width: 40%;
  //border: 3px solid lime;
  .gamesearchform {
    padding-top: 1vh;
    //border: 3px solid red;
    display: flex;
    flex-direction: row;
    width: 98%;
  }
}

#players {
  text-align: center;
  color: $gold-second;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 300%;
}

.resultcontainer {
  // border: 5px solid green;
  //   width: 75%;
  //   height: 100vh;
}
.searchinput {
  background-color: $bg;
  border: none;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 200%;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 1vh;
  margin-top: 0.5vh;
  color: $light;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 24rem;
  height: 3.5rem;
  margin-bottom: 5vh;
  &:focus {
    box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.2),
      1px 5px 5px 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  &:active {
    // box-shadow: inset 0 0 0 2px $red-border;
  }
  &:hover {
    box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.2),
      1px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.psbtn {
  background-color: $bg;
  border: none;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 250%;
  text-align: center;
  //padding-left: 30px;
  margin-bottom: 1vh;
  margin-top: 0.5vh;
  color: $gold-second;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 3.5rem;
  height: 3.5rem;
}

/// bg rings
.bg-rings {
  pointer-events: none;
  position: absolute;
  top: 400px;
  width: 100%;
  z-index: -1;
  .ring {
    position: absolute;
    overflow: hidden;
  }
  .smallring {
    height: 250px;
    width: 250px;
    top: -260px;
    left: 1160px;
    right: calc(10px / 2);
  }
  .mediumringleft {
    width: 400px;
    height: 400px;
    top: -390px;
    left: -1350px;
    right: 0px;
  }
  .mediumringright {
    width: 400px;
    height: 400px;
    top: -380px;
    left: 950px;
    right: 0px;
  }
  .normalring {
    width: 500px;
    height: 500px;
    top: 120px;
    left: 440px;
    right: 0px;
  }
  .largeringleft {
    width: 800px;
    height: 800px;
    top: -130px;
    left: -1150px;
    right: 0px;
  }
  .largeringright {
    width: 900px;
    height: 900px;
    top: -350px;
    left: 1200px;
    right: 0px;
  }
  .xlargering {
    width: 300px;
    height: 300px;
    top: -200px;
    left: -1850px;
    right: 0px;
  }
}
