@import "../../../../variables.scss";

main {
  min-height: 1100px;
  z-index: 1;
  position: relative;
}

#points {
  color: $gold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0.2rem;
}
.yellow {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: $gold;
  margin-bottom: 0.5rem;
  font-size: 60px;
}

#background2 {
  //   border: 2px solid yellow;
  background-color: $bg-third;
}
.playerteamcontainer {
  margin-top: 2rem;
  padding-top: 2rem;
  //   border: 5px solid lime;
  width: 1300px;
  height: 20rem; //temporary heigth, height should be auto

  .playerteamheader {
    // border: 5px solid red;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .teamscontainer {
    // border: solid 5px blue;
    width: 80%;
  }
}

.searchteamcontainer {
  margin-top: 2rem;
  //   border: 5px solid lime;
  width: 1300px;

  .searchheader {
    // border: 5px solid red;
    width: 80%;
    display: flex;
    flex-direction: column;

    .searchfield {
      //   border: 5px solid yellow;
      width: 100%;
    }
    .searchcontainer {
      margin-top: 2rem;
    }
    .searchgames {
      display: flex;
      flex-direction: column;
      width: 40%;
      //border: 3px solid lime;
      .gamesearchform {
        //border: 3px solid red;
        display: flex;
        flex-direction: row;
        width: 98%;
      }
    }
    .searchinput {
      background-color: #222434;
      border: none;
      border-radius: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: lighter;
      font-size: 250%;
      text-align: left;
      padding-left: 30px;
      margin-bottom: 1vh;
      margin-top: 0.5vh;
      color: white;
      box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
      width: 35rem;
      height: 3.5rem;
      margin-bottom: 5vh;
    }

    .gsbtn {
      background-color: #222434;
      border: none;
      border-radius: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: lighter;
      font-size: 250%;
      text-align: center;
      //padding-left: 30px;
      margin-bottom: 1vh;
      margin-top: 0.5vh;
      color: goldenrod;
      box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  .resultscontainer {
    // border: 5px solid blue;
    width: 80%;
    height: 50rem; //temporary heigth, height should be auto
  }
}
.pfpbg {
  //border: 5px solid red;
  border-radius: 100%;
  position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-content: center;
  width: 102.73px;
  height: 102.73px;
  background-image: url("../../../../assets/admin-search-result-player/ProfilePicBg.svg");
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: center;
}
.profilepic {
  //border: 2px dotted yellowgreen;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 2px;
  top: 5px;
  bottom: 0;
  width: 92px;
}

.container.game {
  height: 750px;
  margin-top: 150px;
  border: 5px solid $gold;
  padding: 1 1rem;
  border-radius: 25px;
  position: relative;
  .box {
    position: relative;
    background-color: $bg-second;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
      flex: 1;
      width: calc(100% + 1rem - 5px);
      margin-left: calc(-0.5rem + 5px / 2);
      margin-top: calc(-0.5rem);
      background-color: $bg;
      border: 0.5rem solid $red-border-second;
      border-radius: inherit;
      .icons {
        color: $red-second;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .visibility,
        .delete {
          background-color: $bg;
          text-align: center;
          font-size: 50px;
          border-radius: 10px;
          border-bottom: 0.5rem solid $red-border-second;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            &:hover {
              color: $gold;
            }
          }
        }
        .visibility {
          border-right: 0.5rem solid $red-border-second;
          border-radius: 15px;
          background: transparent;
          position: absolute;
          left: -0.25rem;
          top: -0.25rem;
          height: calc(50px + 2rem);
          width: calc(150px + 0.5rem);
        }
        .delete {
          border-left: 0.5rem solid $red-border-second;
          border-radius: 15px;
          background: transparent;
          position: absolute;
          height: calc(75px + 1rem);
          width: calc(75px + 0.5rem);
          top: calc(-0.5rem);
          right: calc(-0.5rem + 0.5rem / 2);
        }
      }
      .image {
        //background-color: $bg;
        background-image: url("../../../../assets/GameIconBorder.svg");
        background-repeat: no-repeat;
        //background-attachment: fixed;
        background-position: center;
        width: 200px;
        border-radius: 100%;
        //border: 0.5rem dashed $red;
        color: $gold;
        height: 200px;
        text-align: center;
        font-size: 10rem;
        position: absolute;
        left: 0;
        right: 0;
        top: -130px;
        .profilepic {
          position: absolute;
          left: 0;
          right: 1;
          width: 90%;
          top: 8px;
        }
      }
      .text {
        text-align: center;
        padding-top: 75px;
        padding-bottom: 1px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 2000;
        font-size: 2.5rem;
        color: white;
        text-transform: uppercase;
      }
    }
    .form {
      //   border: 5px solid white;
      width: 100%;
      height: 100%;
      flex: 3;
      input,
      textarea {
        color: white;
        border: none;
        background-color: $bg;
        width: 100%;
        height: 50px;
        box-shadow: 0px 0px 10px 0px #00000033;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      #descriptionBoundaries {
        max-width: 500px;
        max-height: 400px;
        min-width: 200px;
        min-height: 200px;
        //border: 2px solid yellow;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        background-color: $bg;
        border-radius: 15px;
        height: 80%;
        width: 50px;
        background-color: $bg;
        box-shadow: $dark-btn-glow;
        background-image: none;
        border: calc(0.25rem / 2) solid $bg;
        &:hover {
          border: calc(0.25rem / 2) solid $gold;
        }
      }
      input[type="date"] {
        font-size: 20px;
        text-align: center;
      }
      .icon.right {
        pointer-events: none;
        position: absolute;
        right: 17px;
        bottom: calc((50px + (0.25rem * 4)) / 2);
      }
      form {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

        height: 100%;
        display: flex;
        flex-direction: row;

        label {
          color: $gold;
          text-transform: capitalize;
        }

        .inp-label {
          width: 90%;
          height: 75px;
          padding: 0.5rem 0;
          position: relative;
          label {
            font-size: 20px;
            left: 5px;
            top: 0px;
            position: absolute;
          }
          input,
          textarea {
            border-radius: 10px;
          }
        }
        .inp-label.textarea {
          height: calc(90% - 75px);
          label {
            top: calc(-15px / 2);
            left: 5px;
          }
          textarea {
            padding: 15px 5px;
            height: 95%;
          }
        }
        .left {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-top: 2rem;
          padding-bottom: 2rem;
          //   border: 2px solid pink;
          .lefttext {
            // border: 5px solid lime;
            width: 70%;
            height: 80px;
            padding-top: 1rem;
          }
          .leftheader {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif;
            font-weight: normal;
            color: $light;
            font-size: 45px;
          }
        }
        .right {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-top: 2rem;
          padding-bottom: 2rem;
          .righttext {
            // border: 2px solid blue;
            display: flex;
            width: 70%;
            height: 80px;
            padding-top: 1rem;
          }
          .rightheader {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif;
            font-weight: lighter;
            color: $gold;
            font-size: 45px;
          }
        }
        .inp-label.dropdown {
          select {
            font-size: 20px;
            text-align-last: center;
            color: $light;
            height: 50px;
            width: 100%;
            background-color: $bg;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #00000033;
            option {
              border-radius: 10px;
              background-color: $bg;
              box-shadow: 0px 0px 10px 0px #00000033;
              height: 50px;
              color: $light;
              &:active {
                background-color: $gold;
              }
            }
          }
        }

        .inp-label.checkbox {
          $border-radius-checkbox: 5px;
          border-bottom: 0.25rem solid $bg;
          border-radius: $border-radius-checkbox;
          label {
            top: auto;
            bottom: -5px;
            left: 0;
          }
          input[type="checkbox"] {
            box-shadow: none;
            appearance: none;
          }
          input[type="checkbox"] {
            -webkit-appearance: none;
            background-color: $bg;
            border: 0.25rem solid $bg-second;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.425),
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: $border-radius-checkbox;
            display: inline-block;
            position: relative;
            width: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
          }
          input[type="checkbox"]:active,
          input[type="checkbox"]:checked:active {
            background-color: #e9ecee;
            border: 1px solid #adb8c0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
              inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            color: #99a1a7;
          }

          input[type="checkbox"]:checked:after {
            content: "\2714";
            font-size: 45px;
            position: absolute;
            bottom: 10px;
            right: 0px;
            color: $gold;
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}

/// bg rings
.bg-rings {
  pointer-events: none;
  position: absolute;
  top: 400px;
  width: 100%;
  z-index: -1;
  .ring {
    position: absolute;
    overflow: hidden;
  }
  .smallring {
    height: 250px;
    width: 250px;
    top: -260px;
    left: 1160px;
    right: calc(10px / 2);
  }
  .mediumringleft {
    width: 400px;
    height: 400px;
    top: -390px;
    left: -1350px;
    right: 0px;
  }
  .mediumringright {
    width: 400px;
    height: 400px;
    top: -380px;
    left: 950px;
    right: 0px;
  }
  .normalring {
    width: 500px;
    height: 500px;
    top: 120px;
    left: 440px;
    right: 0px;
  }
  .largeringleft {
    width: 800px;
    height: 800px;
    top: -130px;
    left: -1150px;
    right: 0px;
  }
  .largeringright {
    width: 900px;
    height: 900px;
    top: -350px;
    left: 1200px;
    right: 0px;
  }
  .xlargering {
    width: 300px;
    height: 300px;
    top: -200px;
    left: -1850px;
    right: 0px;
  }
}
